@import 'variables.styl'

.cursor
  width 120px
  height 40px
  background black
  left 50%
  color white
  position absolute
  font 14px / 40px secondaryFont
  border-radius 9px
  text-align center
  transform translate(-50%, -130%)
  animation appear-cursor .4s
  text-decoration underline
  cursor pointer
  &:after
    content ''
    border-left 10px solid transparent
    border-right 10px solid transparent
    border-top 10px solid black
    position absolute
    top 100%
    left 50%
    margin-left -10px
    
@keyframes appear-cursor
  from
    opacity 0
    transform translate(-50%, -150%)
  to
    opacity 1
    transform translate(-50%, -130%)
