circles-radius = 8px

.loader
  height 45px
  line-height 45px
  text-align center
  padding-top 130px
  &-circle
    display inline-block
    margin 0 1px
    width circles-radius*2
    height circles-radius*2
    background #000
    border-radius circles-radius
    animation pulse 1s infinite
    for i in 1..3
      &:nth-child({i})
        animation-delay -(i * .2s)

@keyframes pulse
  0%
    transform scale(.2)
  50%
    transform scale(1)
  100%
    transform scale(.2)
