@import 'variables.styl'

.note
  opacity 1
  transform translateX(0)
  transition all .2s ease
  text-align left
  font 16px / 24px secondaryFont
  border-left 1px solid #999
  padding-left 14px
  margin-bottom 20px
  cursor default
  for i, j in (0..25)
    &:nth-child({i})
      transition-delay j * .05s

  &-text
    opacity .8
    &:before
      content '“'
    &:after
      content '”'

  &-coordinates
    font 14px / 20px secondaryFont
    opacity .6
    margin-bottom 6px

  &_hidden
    pointer-events none
    opacity 0
    transform translate(20px)
    
  &_new
    animation note-appear .7s
    animation-iteration-count: 2;

@keyframes note-appear
  0%
    opacity 1
  50%
    opacity .3
  100%
    opacity 1
