@import 'variables.styl'

.paragraphNavigation
  opacity 1
  transform translateX(0)
  transition all .2s ease
  transition-delay .2s
  text-align left
  font 14px / 24px secondaryFont
  margin-bottom 10px
  cursor pointer
  color #000

  &-item
    text-decoration underline
    display inline-block
    & + &
      margin-left 22px
    &:hover
      opacity .6
      text-decoration none
  
  &_hidden
    opacity 0
    pointer-events none
