.paragraph
  position relative
  transition all .8s ease
  // transform scale(1)
  &_faded
    opacity .11
  // &_focused
  //   transform scale(1.06)
  &-highlight
    background-color rgba(0, 155, 256, .2)
