primaryFont = "Droid Serif", Georgia, Cambria, "Times New Roman", Times, serif
secondaryFont = 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif

body, html
  padding 0
  margin 0
  height 100%
  
.writing
  -webkit-font-smoothing antialiased
  font 22px / 1.5 primaryFont
  letter-spacing 0.01rem
  width 640px
  margin 0 auto
  position relative
  left -80px

@import './components/cursor.styl'
@import './components/note.styl'
@import './components/notes-list.styl'
@import './components/paragraph-navigation.styl'
@import './components/paragraph.styl'
@import './components/variables.styl'
@import './components/loader.styl'
